@import "tailwindcss";

/* Hardware Acceleration Helper */
.transform-gpuWillChange {
  will-change: transform;
  transform: translateZ(0);
}

/* Optimize video rendering layers */
video {
  backface-visibility: hidden;
  perspective: 1000px;
}